/*@mixin shadow() {
  box-shadow: 0 0 2px 1px rgba(0,0,0,0.1);
}

@mixin shadow-path() {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
}

@mixin shadow-text() {
  text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}*/

@mixin shadow-box() {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
