$width-content-xl:                  1200px; //ПК 1200px
$width-content-lg:                  1024px; //планшет 1024px
$width-content-md:                  768px; //планшет 768px
$width-content-sm:                  576px; //планшет 768px
$width-content-xs:                  320px; //моб 320px

$padd-desktop:                      30px; //отступы на ПК
$padd-mobile:                       5%; //отступы на мобильных и планшетных экранах

//--------------------------- ЦВЕТА BEGIN ----------------------------//
$color-base:                   		#000000;

$color-blue:                        #04c3e0;
$color-blue-dark:                   #1f2e49;
$color-blue-light:                  #4e5d7a;
$color-blue-lighter:                #a2a9bc;

$color-green:						#afd600;

$color-grey:                        #878787;
$color-grey-light:                  #f7f7f7;
$color-grey-dark:                   #323232;

$color-yellow:                  	#ffb333;
$color-yellow-light:                #ffe36a;

$color-red:                  	    #e04a36;
//--------------------------- ЦВЕТА END ----------------------------//

$bg-base:                           #fff;
$bg-grey-light:                     $color-grey-light;
$bg-grey-dark:                      $color-grey-dark;

$color-border:                  	$color-grey;
$color-border-form:                 lighten($color-grey,15%);
$color-placeholder:                 lighten($color-grey,15%);
$color-shadow:                      $color-grey-light;

$font-size-base:                    100%;
$line-height-base:                  normal;


//--------------------------- ССЫЛКИ BEGIN ----------------------------//
$link-color:                        $color-red;
$link-hover-color:                  darken($link-color, 7%);
$link-decoration:                   none;
$link-hover-decoration:             none;
//--------------------------- ССЫЛКИ END ----------------------------//


//--------------------------- ШРИФТЫ BEGIN ----------------------------//
$font-path:                         "../fonts/";

$font-name-regular:                 "HelveticaRegular/HelveticaRegular";
$font-name-bold:                	"DinCondensed/DinCondensed";
$font-name-ping-regular:            "PingFangSCRegular/PingFangSCRegular";
$font-name-ping-bold:               "PingFangSCBold/PingFangSCBold";

$font-name-icons:                	"Fontello/fontello"; //Иконочные шрифты

$font-reg:                          "Helvetica";
$font-bold:                         "DinCondensed";
$font-ping-reg:                     "PingFangSC-Regular";
$font-ping-semibold:                "PingFangSC-Semibold";
$font-icons:                        "Fontello";

$font-family-base:                  $font-ping-reg, $font-reg, "Helvetica Neue", Helvetica, Arial, sans-serif;
//--------------------------- ШРИФТЫ END ----------------------------//

$img-path:                          "../img/";
$svg-path:                          "../img/svg/";

$sprite-file:                       "sprite.png";
$sprite-file2x:                     "sprite@2x.png";

$SCREEN_RETINA_pixel_ratio:         1.25;
$SCREEN_RETINA_resolution:          120;

$border-radius-base:                3px;
$transition-speed:                  .4s;