.author {
  	&__photo {
	  	@include rem(width, 213px);
	  	max-width: 100%;
	  	margin: 0 auto;

	  	& img {
		  	width: 100%;
		}
	}

  	&__info {

	}

  	&__title {
		opacity: 0.4;
		@include rem(font-size, 19px);
		@include rem(line-height, 24px);
		@include rem(padding-left, 40px);
		@include rem(margin-bottom, 10px);
	  	font-family: $font-ping-semibold;
	}

  	&__name {
		@include rem(font-size, 59px);
		@include rem(line-height, 59px);
	  	font-family: $font-bold;
	  	text-transform: uppercase;
	  	@include rem(padding-left, 40px);
	  	@include rem(margin-bottom, 25px);
	}

  	&__list {
	  	@include rem(font-size, 17px);
	  	@include rem(line-height, 24px);

	  	& li {
		  	@include rem(margin-bottom, 15px);
		  	@include rem(padding-left, 37px);
			position: relative;
		}

	  	& span {
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			@include rem(margin-right, 20px);
		  	font-family: $font-reg;
		}
	}

  	&__soon {
		text-align: center;
	}

  	&__soon-img {
	  	@include rem(width, 112px);
	  	margin: 0 auto;

	  	& img {
			width: 100%;
		}
	}

  	&__soon-book {
	  	font-family: $font-ping-semibold;
		@include rem(font-size, 17px);
		@include rem(line-height, 24px);
	  	@include rem(margin-top, 15px);
	}

  	&__soon-lable {
	  	display: inline-block;
	  	vertical-align: top;
		font-family: $font-ping-semibold;
		@include rem(font-size, 13px);
		@include rem(line-height, 25px);
		@include rem(padding, 0px 16px);
	  	background: $color-yellow-light;
	  	@include rem(margin-top, 10px);
		transform: skewX(-20deg);

		& span {
			display: block;
			transform: skewX(20deg);
		}
	}
}


//------------------- < 1200 ------------------//
@media only screen and (max-width: ($width-content-xl - 1px)) {
	.author {

	}
}

//------------------- < 992 ------------------//
@media only screen and (max-width: ($width-content-lg - 1px)) {
	.author {
		&__name {
			@include rem(font-size, 46px);
			@include rem(line-height, 46px);
		}

		&__soon {
			@include clearfix();
			@include rem(padding-left, 37px);
			@include rem(margin-top, 20px);
		}

		&__soon-img {
			@include rem(width, 76px);
			float: left;
		}

		&__soon-info {
			float: left;
			text-align: left;
			@include rem(padding-left, 20px);
		}

		&__soon-book {

		}

		&__soon-lable {
			@include rem(margin-left, 10px);
		}
	}
}

//------------------- < 768 ------------------//
@media only screen and (max-width: ($width-content-md - 1px)) {
	.author {
		&__photo {
			margin: 0;
			@include rem(padding-left, 40px);
		}
	}
}

//------------------- < 576 ------------------//
@media only screen and (max-width: ($width-content-sm - 1px)) {
	.author {
		&__photo {
			@include rem(padding-left, 0px);
			width: 100%;
		}

		&__title {
			@include rem(padding-left, 0px);
		}

		&__name {
			@include rem(padding-left, 0px);
			@include rem(font-size, 35px);
			@include rem(line-height, 35px);
		}

		&__list {
			@include rem(font-size, 15px);
		}

		&__soon {
			@include rem(padding-left, 0px);
		}
	}
}