.btn {
	display: inline-block;
	vertical-align: top;
	color: #000;
	border: none;
	font-family: $font-ping-semibold;
	@include rem(height, 80px);
	@include rem(font-size, 29px);
	@include rem(line-height, 80px);
	@include rem(padding, 0px 85px);
	background: linear-gradient(to bottom, $color-yellow-light 0%, $color-yellow 100%);
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	border-radius: $border-radius-base;
	white-space: nowrap;
	text-transform: uppercase;
	max-width: 100%;
	transition: all $transition-speed ease;
	position: relative;
  
	&:hover {
		background: linear-gradient(to bottom, $color-yellow-light 40%, $color-yellow 100%);
		text-decoration: none;
		color: #000;
	}

	&--fill {
		width: 100%;
		padding: 0px;
	}

	&--form {
		font-family: $font-bold;
		@include rem(font-size, 33px);
	}
}

//------------------- < 1200 ------------------//
@media only screen and (max-width: ($width-content-xl - 1px)) {
	.btn {

	}
}

//------------------- < 992 ------------------//
@media only screen and (max-width: ($width-content-lg - 1px)) {
	.btn {
		@include rem(height, 60px);
		@include rem(line-height, 60px);
		@include rem(padding, 0px 45px);
	}
}

//------------------- < 992 > 768 ------------------//
@media only screen and (max-width: ($width-content-lg - 1px)) and (min-width: ($width-content-md)) {
	.btn {

	}
}

//------------------- < 768 ------------------//
@media only screen and (max-width: ($width-content-md - 1px)) {
	.btn {

	}
}

//------------------- < 576 ------------------//
@media only screen and (max-width: ($width-content-sm - 1px)) {
	.btn {

	}
}