.review {
  	color: #fff;
  	@include rem(padding-left, 50px);
  	position: relative;

  	&:after {
	  	content: "";
	  	display: block;
	  	position: absolute;
	  	top: 0;
	  	left: 0;
	  	@include rem(width, 31px);
	  	@include rem(height, 28px);
	  	background: url("#{$img-path}/svg/review.svg") no-repeat 0 0;
	}

  	&__text {
		@include rem(font-size, 17px);
		@include rem(line-height, 24px);
		@include rem(padding-top, 10px);
	  	opacity: 0.8;
	}

  	&__name {
		font-family: $font-bold;
		@include rem(font-size, 19px);
		@include rem(line-height, 24px);
		@include rem(margin-top, 10px);
	  	text-transform: uppercase;
	  	opacity: 0.4;
	}
}


//------------------- < 1200 ------------------//
@media only screen and (max-width: ($width-content-xl - 1px)) {
	.review {
		@include rem(padding-left, 0px);
		@include rem(padding-top, 45px);
	}
}

//------------------- < 992 ------------------//
@media only screen and (max-width: ($width-content-lg - 1px)) {
	.review {

	}
}

//------------------- < 768 ------------------//
@media only screen and (max-width: ($width-content-md - 1px)) {
	.review {

	}
}

//------------------- < 576 ------------------//
@media only screen and (max-width: ($width-content-sm - 1px)) {
	.review {
		&__text {
			@include rem(font-size, 15px);
		}

		&__name {
			@include rem(font-size, 17px);
		}
	}
}