.steps {
	overflow: hidden;

	&__header {
		font-family: $font-ping-semibold;
		@include rem(font-size, 59px);
		@include rem(line-height, 59px);
	  	text-align: center;
	  	color: #fff;
	}

	&__graf {
		position: relative;
		height: 200px;
		margin-top: 340px;
	}

	&__graf-bg {
		background: $bg-grey-light;
		position: absolute;
		top: 0;
		left: -140%;
		background: #f7f7f7;
		height: 500%;
		width: 1000%;
		margin-top: -93%;
		transform: rotate(-16.3deg);
		z-index: 1;

		&:before {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			background: $color-yellow;
			height: 20px;
			width: 100%;
		}
	}

	&__els {
		transform: rotate(-16.3deg);
		position: relative;
		width: 100%;
		z-index: 2;
		left: 0;
    	top: -75px;
	}

	&__el {
		width: 25%;
		position: absolute;
		z-index: 1;
		transform: rotate(16.3deg);
	}

	&__circle {
		width: 86px;
		height: 86px;
		min-width: 86px;
		border-radius: 43px;
		background: $color-yellow;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__circle-inner {
		width: 46px;
		height: 46px;
		min-width: 46px;
		border-radius: 23px;
		background: #fff;
	}

	&__label {
		@include rem(font-size, 33px);
		@include rem(line-height, 46px);
	  	font-family: $font-ping-semibold;
	  	opacity: 0.8;
		color: #fff;
		position: absolute;
    	top: auto;
		bottom: 140px;
	}

	&--el-1 {
		left: 0;
	}

	&--el-2 {
		left: 30%;
	}

	&--el-3 {
		left: 60%;
	}

	&--el-4 {
		left: 90%;
	}

	&--el-r &__label {
		color: #000;
	  	text-align: right;
	}

	&--el-r &__label {
		top: 140px;
		bottom: auto;
		left: -40px;
	}
}

//------------------- < 1800 ------------------//
@media only screen and (max-width: 1799px) {
	.steps {
		&__els {
			top: -70px;
		}
	}
}

//------------------- < 1500 ------------------//
@media only screen and (max-width: 1499px) {
	.steps {
		&__els {
			top: -65px;
		}
	}
}


//------------------- < 1200 ------------------//
@media only screen and (max-width: ($width-content-xl - 1px)) {
	.steps {
		&__header {
			@include rem(font-size, 58px);
		}

		&__els {
			top: -65px;
		}
	}
}

//------------------- < 992 ------------------//
@media only screen and (max-width: ($width-content-lg - 1px)) {
	.steps {
		&__header {
			@include rem(font-size, 46px);
		}

		&__label {
			@include rem(font-size, 26px);
			@include rem(line-height, 38px);
		}

		&__circle-inner {
			width: 54px;
			height: 54px;
			min-width: 54px;
			border-radius: 27px;
		}

		&--el-1 {
			left: 0;
		}

		&--el-2 {
			left: 28%;
		}

		&--el-3 {
			left: 56%;
		}

		&--el-4 {
			left: 84%;
		}

		&--el-r &__label {
			left: 0px;
		}
	}
}

//------------------- < 768 ------------------//
@media only screen and (max-width: ($width-content-md - 1px)) {
	.steps {
		&__header {
			@include rem(font-size, 35px);
		}

		&--el-1 {
			left: 0;
		}

		&--el-2 {
			left: 27%;
		}

		&--el-3 {
			left: 54%;
		}

		&--el-4 {
			left: 81%;
		}

		&--el-r &__label {
			left: -20px;
		}
	}
}

//------------------- < 576 ------------------//
@media only screen and (max-width: ($width-content-sm - 1px)) {
	.steps {
		&__graf-bg {
			&:after {
				content: "";
				display: block;
				position: absolute;
				top: -150px;
				left: 0;
				background: $color-yellow;
				height: 20px;
				width: 100%;
			}
		}

		&__els {
			top: -55px;
		}

		&__el {
			width: 45%;
		}

		&__graf {
			margin-top: 450px;
		}

		&--el-1 {
			top: -150px;
			left: 20%;
		}

		&--el-2 {
			top: -150px;
			left: 70%;
		}

		&--el-3 {
			left: 7%;
		}

		&--el-4 {
			left: 57%;
		}

		&--el-r &__label {
			left: 0px;
		}

		&__label {
			bottom: 120px;
			top: auto;
		}

		&--el-r &__label {
			top: 120px;
			bottom: auto;
		}
	}
}