<!-- @@master  = partials/_master.html-->
 
<!-- @@block  =  content-->
<nav>
	<div class="page__content-inner-min">
		<ul class="menu-state">
			<li class="menu-state__point menu-state--point-active">
				<div class="menu-state__wrap">
					<div class="menu-state__circle"></div>
					<div class="menu-state__text">Personal<br />information</div>
				</div>
			</li>
			<li class="menu-state__point menu-state--point-active">
				<div class="menu-state__wrap">
					<div class="menu-state__circle"></div>
					<div class="menu-state__text">Home<br />address</div>
				</div>
			</li>
			<li class="menu-state__point menu-state--point-current">
				<div class="menu-state__wrap">
					<div class="menu-state__circle"></div>
					<div class="menu-state__text">Financial<br />information</div>
				</div>
			</li>
			<li class="menu-state__point">
				<div class="menu-state__wrap">
					<div class="menu-state__circle"></div>
					<div class="menu-state__text">Tax<br />information</div>
				</div>
			</li>
			<li class="menu-state__point">
				<div class="menu-state__wrap">
					<div class="menu-state__circle"></div>
					 
				</div>
			</li>
			<li class="menu-state__point">
				<div class="menu-state__wrap">
					<div class="menu-state__circle"></div>
					<div class="menu-state__text">Documents<br />upload</div>
				</div>
			</li>
		</ul>
	</div>
</nav>

<section>
	<div class="page__content-inner-min">
    	<div class="box"><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /></div>
	</div>
</section>
<!-- @@close-->