<!DOCTYPE html>
<html>
    <head>
        <title>Investex</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

        <link rel="stylesheet" type="text/css" href="css/libs.min.css" media="screen" />
        <link rel="stylesheet" type="text/css" href="css/main.min.css" media="screen" />
    </head>
    <body>
        <div class="page">
            <!-- @@include = _header.html -->

            <!-- @@placeholder = content -->

            <!-- @@include = _footer.html -->
        </div>

        <script type="text/javascript" src="js/libs.min.js"></script>
        <script type="text/javascript" src="js/scripts.min.js"></script>
    </body>
</html>