<!-- @@master  = partials/_master.html-->
 
<!-- @@block  =  content-->
<section class="page__section main">
    <div class="page__content-inner">
        <div class="main__logo"></div>
        <div class="main__header-wrap">
            <div class="page__content-inner">
                <div class="main__header">了解以下讯号，实现外汇 <span class="main__header-sep">&nbsp;</span>盈利从未如此简单！</div>
            </div>
        </div>
    </div>
</section>

<section class="page__section page--dark">
    <div class="page__content-inner">
        <div class="page__heading page--heading-white">如何操作？<br />第一步：跟随能盈利的外汇交易者。</div>
        <div class="row row--padd-min">
            <div class="col-sm-4 col-bottom">
                <div class="traders">
                    <div class="traders__img"><img src="img/svg/trader-1.svg" alt="" /></div>
                    <div class="traders__info">
                        <div class="traders__title">交易者:</div>
                        <div class="traders__count">94.48%</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-bottom">
                <div class="traders">
                    <div class="traders__img"><img src="img/svg/trader-2.svg" alt="" /></div>
                    <div class="traders__info">
                        <div class="traders__title">交易者:</div>
                        <div class="traders__count">94.48%</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-bottom">
                <div class="traders">
                    <div class="traders__img"><img src="img/svg/trader-3.svg" alt="" /></div>
                    <div class="traders__info">
                        <div class="traders__title">交易者:</div>
                        <div class="traders__count">94.48%</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page__section page--section-top0 page--dark">
    <div class="page__content-inner">
        <div class="page__heading page--heading-white">第二步：重复他们的讯号</div>
        <div class="signals">

        </div>
    </div>
</section>

<section class="profit">
    <div class="page__section profit__bg">
        <div class="page__content-inner">
            <div class="page__heading page--heading-white">第三步：取出你的利润</div>
        </div>
    </div>
</section>

<section class="page__section">
    <div class="page__content-inner">
        <div class="page__heading">超过500名交易者</div>
        <div class="row row--no-padd">
            <div class="col-1 col-lg-hidden">&nbsp;</div>
            <div class="col-xl-10">
                <div class="traders-table">
                    <div class="traders-table__block traders-table--header">
                        <div class="traders-table__col col-sm-visiable col-sm-full">Trader name and profits</div>
                        <div class="traders-table__col col-sm-hidden">交易者姓名</div>
                        <div class="traders-table__col col-sm-hidden">利润总额</div>
                        <div class="traders-table__col col-sm-hidden">月均利润</div>
                        <div class="traders-table__col col-sm-hidden">盈利讯号%</div>
                        <div class="traders-table__col col-sm-hidden">&nbsp;</div>
                    </div>
                    <div class="traders-table__block traders-table--item">
                        <div class="traders-table__col traders-table--col-name">交易者 1</div>
                        <div class="traders-table__col traders-table--col-btn col-sm-visiable">
                            <a href="" class="btn btn--min btn--fill">开始跟随</a>
                        </div>
                        <div class="traders-table__col col-sm-full col-sm-top-micro"><div class="traders-table__title col-sm-visiable">利润总额</div><div class="traders-table__count">7123.64%</div></div>
                        <div class="traders-table__col col-sm-full"><div class="traders-table__title col-sm-visiable">月均利润</div><div class="traders-table__count">200%</div></div>
                        <div class="traders-table__col col-sm-full"><div class="traders-table__title col-sm-visiable">盈利讯号%</div><div class="traders-table__count">80%</div></div>
                        <div class="traders-table__col col-sm-hidden">
                            <a href="" class="btn btn--min btn--fill">开始跟随</a>
                        </div>
                    </div>
                    <div class="traders-table__block traders-table--item">
                        <div class="traders-table__col traders-table--col-name">交易者 2</div>
                        <div class="traders-table__col traders-table--col-btn col-sm-visiable">
                            <a href="" class="btn btn--min btn--fill">开始跟随</a>
                        </div>
                        <div class="traders-table__col col-sm-full col-sm-top-micro"><div class="traders-table__title col-sm-visiable">利润总额</div><div class="traders-table__count">1989.19%</div></div>
                        <div class="traders-table__col col-sm-full"><div class="traders-table__title col-sm-visiable">月均利润</div><div class="traders-table__count">215%</div></div>
                        <div class="traders-table__col col-sm-full"><div class="traders-table__title col-sm-visiable">盈利讯号%</div><div class="traders-table__count">80%</div></div>
                        <div class="traders-table__col col-sm-hidden">
                            <a href="" class="btn btn--min btn--fill">开始跟随</a>
                        </div>
                    </div>
                    <div class="traders-table__block traders-table--item">
                        <div class="traders-table__col traders-table--col-name">交易者 3</div>
                        <div class="traders-table__col traders-table--col-btn col-sm-visiable">
                            <a href="" class="btn btn--min btn--fill">开始跟随</a>
                        </div>
                        <div class="traders-table__col col-sm-full col-sm-top-micro"><div class="traders-table__title col-sm-visiable">利润总额</div><div class="traders-table__count">387.07%</div></div>
                        <div class="traders-table__col col-sm-full"><div class="traders-table__title col-sm-visiable">月均利润</div><div class="traders-table__count">9.44%</div></div>
                        <div class="traders-table__col col-sm-full"><div class="traders-table__title col-sm-visiable">盈利讯号%</div><div class="traders-table__count">67%</div></div>
                        <div class="traders-table__col col-sm-hidden">
                            <a href="" class="btn btn--min btn--fill">开始跟随</a>
                        </div>
                    </div>
                    <div class="traders-table__block traders-table--item">
                        <div class="traders-table__col traders-table--col-name">交易者 4</div>
                        <div class="traders-table__col traders-table--col-btn col-sm-visiable">
                            <a href="" class="btn btn--min btn--fill">开始跟随</a>
                        </div>
                        <div class="traders-table__col col-sm-full col-sm-top-micro"><div class="traders-table__title col-sm-visiable">利润总额</div><div class="traders-table__count">18,312.16%</div></div>
                        <div class="traders-table__col col-sm-full"><div class="traders-table__title col-sm-visiable">月均利润</div><div class="traders-table__count">631%</div></div>
                        <div class="traders-table__col col-sm-full"><div class="traders-table__title col-sm-visiable">盈利讯号%</div><div class="traders-table__count">62%</div></div>
                        <div class="traders-table__col col-sm-hidden">
                            <a href="" class="btn btn--min btn--fill">开始跟随</a>
                        </div>
                    </div>
                    <div class="traders-table__block traders-table--item">
                        <div class="traders-table__col traders-table--col-name">交易者 5</div>
                        <div class="traders-table__col traders-table--col-btn col-sm-visiable">
                            <a href="" class="btn btn--min btn--fill">开始跟随</a>
                        </div>
                        <div class="traders-table__col col-sm-full col-sm-top-micro"><div class="traders-table__title col-sm-visiable">利润总额</div><div class="traders-table__count">423.01%</div></div>
                        <div class="traders-table__col col-sm-full"><div class="traders-table__title col-sm-visiable">月均利润</div><div class="traders-table__count">51.27%</div></div>
                        <div class="traders-table__col col-sm-full"><div class="traders-table__title col-sm-visiable">盈利讯号%</div><div class="traders-table__count">97%</div></div>
                        <div class="traders-table__col col-sm-hidden">
                            <a href="" class="btn btn--min btn--fill">开始跟随</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1 col-lg-hidden">&nbsp;</div>
        </div>
    </div>
</section>

<section class="page__section page--section-top0">
    <div class="page__content-inner">
        <div class="page__heading">优势</div>
        <div class="row row--no-padd">
            <div class="col-1 col-lg-hidden">&nbsp;</div>
            <div class="col-xl-10">
                <div class="advantage">
                    <div class="advantage__col col-md-bottom">
                        <div class="advantage__img"><img src="img/svg/automated.svg" alt="" /></div>
                        <div class="advantage__title">完全自动</div>
                    </div>
                    <div class="advantage__col col-md-bottom">
                        <div class="advantage__img"><img src="img/svg/statistics.svg" alt="" /></div>
                        <div class="advantage__title">数据透明</div>
                    </div>
                    <div class="advantage__col col-md-bottom">
                        <div class="advantage__img"><img src="img/svg/traders.svg" alt="" /></div>
                        <div class="advantage__title">只有能盈利的交易者，有可靠的记录</div>
                    </div>
                    <div class="advantage__col">
                        <div class="advantage__img"><img src="img/svg/results.svg" alt="" /></div>
                        <div class="advantage__title">最佳的解决方案，分散投资</div>
                    </div>
                    <div class="advantage__col">
                        <div class="advantage__img"><img src="img/svg/free.svg" alt="" /></div>
                        <div class="advantage__title">完全免费</div>
                    </div>
                </div>
            </div>
            <div class="col-1 col-lg-hidden">&nbsp;</div>
        </div>
    </div>
</section>

<section class="page__section page--section-top0">
    <div class="page__content-inner">
        <div class="page__heading">我们的数据</div>
        <div class="row row--no-padd">
            <div class="col-1 col-lg-hidden">&nbsp;</div>
            <div class="col-xl-10">
                <div class="row">
                    <div class="col-md-4 col-sm-bottom">
                        <div class="ourdata">
                            <div class="ourdata__count">837</div>
                            <div class="ourdata__title">837名注册用户</div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-bottom">
                        <div class="ourdata">
                            <div class="ourdata__count">$1,234,239</div>
                            <div class="ourdata__title">上月入金</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="ourdata">
                            <div class="ourdata__count">$2,334,148</div>
                            <div class="ourdata__title">上月收益</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1 col-lg-hidden">&nbsp;</div>
        </div>
    </div>
</section>

<section class="page__section page--dark">
    <div class="page__content-inner">
        <form action="" method="post" class="form" enctype="multipart/form-data">
            <div class="pos-center col-bottom">
                <div class="form__h1">免费咨询，今天就开始挣钱</div>
                <div class="form__h2">我们会帮助你起步，选择和联络最好的讯号提供者，让你立刻收益。</div>
            </div>
            <div class="form__wrap">
                <div class="row row--padd-min">
                    <div class="col-md-6 col-sm-12">
                        <div class="form__field">
                            <div class="form__title">First name</div>
                            <div class="form__input-wrap">
                                <input placeholder="First name" name="" value="" type="text" class="form__input" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form__field">
                            <div class="form__title">Last name</div>
                            <div class="form__input-wrap">
                                <input placeholder="Last name" name="" value="" type="text" class="form__input" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form__field">
                            <div class="form__title">E-mail Address</div>
                            <div class="form__input-wrap">
                                <input placeholder="E-mail Address" name="" value="" type="email" class="form__input" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form__field">
                            <div class="form__title">Phone</div>
                            <div class="form__input-wrap err">
                                <input placeholder="Phone" name="" value="00000000" type="tel" class="form__input" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form__field">
                            <div class="form__title">Password</div>
                            <div class="form__input-wrap">
                                <input placeholder="Password" name="" value="" type="password" class="form__input" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form__field">
                            <div class="form__title">Confirm password</div>
                            <div class="form__input-wrap">
                                <input placeholder="Confirm password" name="" value="" type="password" class="form__input" />
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-top-min">
                        <label for="check1" class="pseudo-check">
                            <div class="pseudo-check__check"><span class="pseudo-check__check-icon"></span></div>
                            <div class="pseudo-check__text">I have read and agreed to <a href="">Terms and Conditions</a></div>
                            <input id="check1" name="" value="yes" type="checkbox" class="pseudo-check__real">
                        </label>
                    </div>
                    <div class="col-12 col-top">
                        <button class="btn col-sm-full btn--form" type="submit" name="">CONTINUE</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<!-- @@close-->