.form {
	font-family: $font-reg;

	&__wrap {
		@include rem(width, 560px);
		max-width: 100%;
		margin: 0 auto;
	}

	&__h1 {
		font-family: $font-bold;
		@include rem(font-size, 43px);
		@include rem(font-size, 49px);
		color: #fff;
		text-transform: uppercase;
	}

	&__h2 {
		font-family: $font-reg;
		@include rem(font-size, 16px);
		@include rem(line-height, 22px);
		color: #fff;
		opacity: 0.7;
		@include rem(margin-top, 20px);
	}

	&__field {
		@include rem(margin-bottom, 10px);
		position: relative;
	}

	&__title {
		@include rem(font-size, 16px);
		@include rem(line-height, 20px);
		@include rem(margin-bottom, 5px);
		font-family: $font-bold;
		color: $color-grey;
		text-transform: uppercase;
	}

	&__input {
		@include rem(font-size, 15px);
		@include rem(line-height, 15px);
		@include rem(height, 44px);
		@include rem(padding, 0px 10px);
		width: 100%;
		border: solid 2px $color-border-form;
		background: #fff;
		display: block;
		border-radius: $border-radius-base;
		color: $color-base;
		transition: all $transition-speed ease;

		&:-moz-placeholder {
			color: $color-placeholder;
			line-height: normal;
		}

		&::-webkit-input-placeholder {
			color: $color-placeholder;
			line-height: normal;
		}

		&:focus {
			border: solid 2px $color-yellow;
			color: $color-base;
		}

		&.err {
			border: solid 2px $color-red;
		}
	}


	/*
	&__textarea {
		@include rem(font-size, 15px);
		@include rem(line-height, 20px);
		@include rem(height, 102px);
		@include rem(padding, 10px);
		width: 100%;
		border: solid 1px $color-border-form;
		background: #fff;
		display: block;
		font-family: $font-reg;
		border-radius: $border-radius-base;
		color: $color-base;
		resize: none;

		&::-webkit-input-placeholder {
			line-height: 19px;
			color: $color-placeholder;
		}

		&:focus {
			border: solid 1px darken($color-border-form, 10%);
			color: $color-base;
		}

		&.err {
			border: solid 1px $color-red;
		}
	}
	*/
}


//------------------- < 1200 ------------------//
@media only screen and (max-width: ($width-content-xl - 1px)) {
	.form {
		&__h1 {
			font-family: $font-bold;
			@include rem(font-size, 35px);
			@include rem(font-size, 44px);
		}
	}
}

//------------------- < 992 ------------------//
@media only screen and (max-width: ($width-content-lg - 1px)) {
	.form {
		&__h1 {
			font-family: $font-bold;
			@include rem(font-size, 31px);
			@include rem(font-size, 40px);
		}
	}
}

//------------------- < 768 ------------------//
@media only screen and (max-width: ($width-content-md - 1px)) {
	.form {
		&__h1 {
			font-family: $font-bold;
			@include rem(font-size, 27px);
			@include rem(font-size, 36px);
		}
	}
}

//------------------- < 576 ------------------//
@media only screen and (max-width: ($width-content-sm - 1px)) {
	.form {

	}
}