.main {
  	background: $color-red;
  	color: #fff;
	overflow: hidden;

 	&__logo {
	  	@include rem(width, 172px);
	  	@include rem(height, 69px);
	  	background: url("#{$img-path}logo.png") no-repeat 0 0;
	}

	&__header {
		font-family: $font-ping-semibold,$font-bold;
	  	@include rem(font-size, 53px);
	  	@include rem(line-height, 68px);
	  	@include rem(padding-left, 100px);
	  	@include rem(margin, 44px 0px);
	}

  	&__title {
		@include rem(font-size, 19px);
		@include rem(line-height, 31px);
	  	@include rem(padding-left, 100px);
	  	@include rem(margin-bottom, 20px);
	}

  	&__list {
		@include rem(font-size, 19px);
		@include rem(line-height, 31px);
		@include rem(padding-left, 60px);

	  	& span {
		  	display: inline-block;
		  	vertical-align: top;
		  	@include rem(margin-right, 20px);
		  	font-family: $font-reg;
		}
	}

  	&__btn {
	  	@include rem(padding-left, 100px);
	  	@include rem(margin-top, 50px);
	  	@include rem(margin-bottom, 75px);
	}

  	&__book {
	  	width: 100%;

	  	& img {
		  	width: 100%;
		}
	}

  	&__why {
	  	@include rem(padding-left, 100px);
	}

  	&__why-header {
		@include rem(font-size, 25px);
		@include rem(line-height, 35px);
	  	font-family: $font-ping-semibold;
	  	@include rem(margin-bottom, 35px);
	}

  	&__why-title {
		@include rem(font-size, 23px);
		@include rem(line-height, 27px);
	  	font-family: $font-ping-semibold;
	  	@include rem(margin-bottom, 15px);
	}

  	&__why-text {
		@include rem(font-size, 17px);
		@include rem(line-height, 22px);
	  	opacity: 0.7;
	}
}


//------------------- < 1200 ------------------//
@media only screen and (max-width: ($width-content-xl - 1px)) {
	.main {
		&__logo {
			background-image: url("#{$img-path}logo@3x.png");
		  	background-size: 100%;
		}

		&__header {
			@include rem(padding-left, 40px);
		}

		&__list {
			padding-left: 0;
		}

		&__title {
			@include rem(padding-left, 40px);
		}

		&__btn {
			@include rem(padding-left, 40px);
		}

		&__why {
			@include rem(padding, 0 40px);
		}
	}
}

//------------------- < 992 ------------------//
@media only screen and (max-width: ($width-content-lg - 1px)) {
	.main {
		&__header {
			padding-left: 0;
		}

		&__why {
			@include rem(padding, 0);
		}

		&__btn {
			@include rem(padding-left, 0px);
		}

		&__book img {
			width: 112%;
		}
	}
}

//------------------- < 768 ------------------//
@media only screen and (max-width: ($width-content-md - 1px)) {
	.main {

	}
}

//------------------- < 576 ------------------//
@media only screen and (max-width: ($width-content-sm - 1px)) {
	.main {
		&__header {
			@include rem(font-size, 35px);
			@include rem(line-height, 45px);
			@include rem(margin-bottom, 10px);
		}

		&__title {
			@include rem(font-size, 15px);
			@include rem(line-height, 27px);
			padding-left: 0;
		}

		&__list {
			@include rem(font-size, 15px);
			@include rem(line-height, 27px);
		}

		&__why-header {
			@include rem(font-size, 23px);
		}

		&__why-title {
			@include rem(margin-bottom, 10px);
		}

		&__why-text {
			@include rem(font-size, 15px);
		}
	}
}