.partner {
  	text-align: center;

	&__header {
		font-family: $font-ping-semibold;
		@include rem(font-size, 29px);
		@include rem(line-height, 29px);
		@include rem(margin-bottom, 60px);
	}

	&__wrap {

	}

  	&__item {
	  	display: inline-block;
	  	vertical-align: middle;
	  	width: 19%;
	  	@include rem(padding, 0px 20px);

	  	& img {
			margin: 0 auto;
		  	max-width: 100%;
		}
	}

	&--item-1 img {
	  	width: 143px;
	}

	&--item-2 img {
	  	width: 155px;
	}

	&--item-3 img {
	  	width: 118px;
	}

	&--item-4 img {
	  	width: 195px;
	}

	&--item-5 img {
	  	width: 170px;
	}
}


//------------------- < 1200 ------------------//
@media only screen and (max-width: ($width-content-xl - 1px)) {
	.partner {

	}
}

//------------------- < 992 ------------------//
@media only screen and (max-width: ($width-content-lg - 1px)) {
	.partner {

	}
}

//------------------- < 768 ------------------//
@media only screen and (max-width: ($width-content-md - 1px)) {
	.partner {
		&--item-1 img {
			width: 83px;
		}

		&--item-2 img {
			width: 123px;
		}

		&--item-3 img {
			width: 70px;
		}

		&--item-4 img {
			width: 85px;
		}

		&--item-5 img {
			width: 86px;
		}

		&__item {
			width: auto;
			@include rem(margin, 10px 0px);
			@include rem(padding, 0px 5px);
		}

		&__header {
			font-family: $font-ping-semibold;
			@include rem(font-size, 23px);
			@include rem(line-height, 23px);
			@include rem(margin-bottom, 20px);
		}
	}
}

//------------------- < 576 ------------------//
@media only screen and (max-width: ($width-content-sm - 1px)) {
	.partner {

	}
}