<!-- @@master  = partials/_master.html-->
 
<!-- @@block  =  content-->
<section class="page__section">
    <div class="page__content-inner">
        <h2 class="heading">Payment systems stats</h2>
        <div class="filter col-bottom">
            <ul class="filter__menu menu">
                <li class="menu__item menu--active"><a href="">Today</a></li>
                <li class="menu__item"><a href="">Yesterday</a></li>
                <li class="menu__item"><a href="">This week</a></li>
                <li class="menu__item"><a href="">This month</a></li>
                <li class="menu__item"><a href="">Custom</a></li>
            </ul>
            <div class="filter__form form__flex">
                <div class="form__field form--field-inline">
                    <div class="form__title">Show stats from</div>
                    <div class="form__input-wrap">
                        <input placeholder="Choose date" name="" value="" type="text" class="form__input" />
                        <div class="form__input-icon"><span class="icon--calendar"></span></div>
                    </div>
                </div>
                <div class="form__field form--field-inline">
                    <div class="form__title">to</div>
                    <div class="form__input-wrap">
                        <input placeholder="Choose date" name="" value="20/02/2018" type="text" class="form__input" />
                        <div class="form__input-icon"><span class="icon--calendar"></span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="dashboard">
                    <div class="dashboard__item">
                        <div class="dashboard__body">
                            <div class="dashboard__value">2</div>
                            <div class="dashboard__title">deposits</div>
                        </div>
                    </div>
                    <div class="dashboard__item">
                        <div class="dashboard__body">
                            <div class="dashboard__value">59,304.7</div>
                            <div class="dashboard__title">CNY</div>
                        </div>
                    </div>
                    <div class="dashboard__item">
                        <div class="dashboard__body">
                            <div class="dashboard__value">6,304.85</div>
                            <div class="dashboard__title">USD</div>
                        </div>
                    </div>
                    <div class="dashboard__item dashboard--orange">
                        <div class="dashboard__body">
                            <div class="dashboard__value">3</div>
                            <div class="dashboard__title">new clients</div>
                        </div>
                    </div>
                    <div class="dashboard__item dashboard--orange">
                        <div class="dashboard__body">
                            <div class="dashboard__value">59,304.7</div>
                            <div class="dashboard__title">profit & loss, CNY</div>
                        </div>
                    </div>
                    <div class="dashboard__item dashboard--orange">
                        <div class="dashboard__body">
                            <div class="dashboard__value">6,304.85</div>
                            <div class="dashboard__title">profit & loss, USD</div>
                        </div>
                    </div>
                    <div class="dashboard__item dashboard--red">
                        <div class="dashboard__body">
                            <div class="dashboard__value">0</div>
                            <div class="dashboard__title">withdrawals</div>
                        </div>
                    </div>
                    <div class="dashboard__item dashboard--red">
                        <div class="dashboard__body">
                            <div class="dashboard__value">0</div>
                            <div class="dashboard__title">CNY</div>
                        </div>
                    </div>
                    <div class="dashboard__item dashboard--red">
                        <div class="dashboard__body">
                            <div class="dashboard__value">0</div>
                            <div class="dashboard__title">USD</div>
                        </div>
                    </div>
                </div>

                <div class="info">
                    <div class="info__line">
                        <div class="info__title">Ready to process:</div>
                        <div class="info__text">0 withdrawals for <strong>0 CNY</strong> and <strong>0 USD</strong></div>
                    </div>
                    <div class="info__line">
                        <div class="info__title">Traders balance:</div>
                        <div class="info__text"><strong>2,348.82 CNY</strong> and <strong>76,304.85 USD</strong></div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="table">
                    <div class="table__line table--header">
                        <a href="" class="table__cell table--cell-evlat1 table--sort">PSP<span class="table__cell-icon icon--sort-down"></span></a>
                        <a href="" class="table__cell table--cell-evlat2 table--sort table--sort-up">In/Out<span class="table__cell-icon icon--sort-up"></span></a>
                        <a href="" class="table__cell table--cell-evlat3 table--sort">Available balance<span class="table__cell-icon icon--sort-down"></span></a>
                    </div>
                    <div class="table__body">
                        <div class="table__line">
                            <div class="table__cell">Cardpay (unionpay 1)</div>
                            <div class="table__cell">18,000.0 / 0.0</div>
                            <div class="table__cell">18,000</div>
                        </div>
                        <div class="table__line">
                            <div class="table__cell">Nova2pay (unionpay 7)</div>
                            <div class="table__cell">0.0 / 0.0</div>
                            <div class="table__cell">0</div>
                        </div>
                        <div class="table__line">
                            <div class="table__cell">Cardpay (cardpay visa)</div>
                            <div class="table__cell">18,000.0 / 0.0</div>
                            <div class="table__cell">18,000</div>
                        </div>
                        <div class="table__line">
                            <div class="table__cell">Cardpay (unionpay 1)</div>
                            <div class="table__cell">18,000.0 / 0.0</div>
                            <div class="table__cell">18,000</div>
                        </div>
                        <div class="table__line">
                            <div class="table__cell">Nova2pay (unionpay 7)</div>
                            <div class="table__cell">0.0 / 0.0</div>
                            <div class="table__cell">0</div>
                        </div>
                    </div>
                    <div class="table__footer">
                        <div class="table__line">
                            <div class="table__cell">Total</div>
                            <div class="table__cell">54,000.0 / 0.0</div>
                            <div class="table__cell">54,000</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- @@close-->