</main>

<div class="page__bottom">
    <footer class="page-footer">
        <div class="page__content-inner">
            <div class="row row--md-reverse">
                <div class="col-md-9">
                    <div class="page-footer__text">
                        <p>2018 © Investex Bank Limited. Investex is authorized brand of B2B Bank Limited. B2B Bank Limited is authorized and regulated by the St.Vincent and the Grenadines Financial Services Authority.</p>
                        <p>SWIFT: BTBBVCVC</p>
                        <p>Services related to Classic and Pro account types are provided by brokerage company Investex Limited.</p>
                        <p>Products and services on this site may not be available in certain jurisdictions. In particular, these products and services are not being offered in Japan or the United States or to US citizens and residents or to residents of St.Vincent and Grenadines. For full details of exclusions and disclaimers please refer to our General Terms and Conditions before proceeding.</p>
                        <p>Trading on margin involves considerable risk and may not be suitable for everyone. Make sure you understand the instruments` specifications and the market`s mechanisms before investing real funds.</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="socials">
                        <a href="" target="_blank" class="socials__item"><span class="socials__icon icon--linkedin"></span></a>
                        <a href="" target="_blank" class="socials__item"><span class="socials__icon icon--facebook"></span></a>
                        <a href="" target="_blank" class="socials__item"><span class="socials__icon icon--twitter"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>