<!-- @@master  = partials/_master.html-->
 
<!-- @@block  =  content-->
<section class="page__section main">
    <div class="page__content-inner">
        <div class="main__body">
            <div class="main__l">
                <div class="main__title">Объединяем онлайн-школы и трафик </div>
                <div class="main__text">Мы помогаем авторам развивать бизнес,<br>а партнерам — зарабатывать</div>
                <div class="main__btns">
                    <div class="row row--padd-micro">
                        <div class="col-6">
                            <a href="" class="btn btn--blue btn--fill">Заработать на трафике</a>
                        </div>
                        <div class="col-6">
                            <a href="" class="btn btn--border btn--fill">Увеличить продажи</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main__r">
                <img src="img/svg/platform-img.svg" alt="Platform Illustration" />
            </div>
        </div>
    </div>
</section>
<section class="page__section page--light">
    <div class="page__content-inner">
        <h2 class="heading">Топ офферов</h2>

        <div class="row row--padd-min">
            <div class="col-3">
                <div class="product-card">
                    <div class="product-card__img">
                        <img src="img/svg/platform-img.svg" alt="Честный трейдер" />
                    </div>
                    <div class="product-card__body">
                        <div class="product-card__title">Честный трейдер</div>
                        <div class="product-card__info">100 рублей за подписку</div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="product-card">
                    <div class="product-card__img">
                        <img src="img/svg/platform-img.svg" alt="Честный трейдер" />
                    </div>
                    <div class="product-card__body">
                        <div class="product-card__title">Бизнес на Amazon</div>
                        <div class="product-card__info">100 рублей за подписку</div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="product-card">
                    <div class="product-card__img">
                        <img src="img/svg/platform-img.svg" alt="Честный трейдер" />
                    </div>
                    <div class="product-card__body">
                        <div class="product-card__title">Бизнес на Aliexpress</div>
                        <div class="product-card__info">100 рублей за подписку</div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="product-card">
                    <div class="product-card__img">
                        <img src="img/svg/platform-img.svg" alt= "Честный трейдер" />
                    </div>
                    <div class="product-card__body">
                        <div class="product-card__title">Genius English</div>
                        <div class="product-card__info">100 рублей за подписку</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="page__section">
    <div class="page__content-inner">
        <div class="services">
            <div class="row row--padd-min">
                <div class="col-3">
                    <ul class="services__list">
                        <li class="services__item"><span class="icon--plus"></span>Быстрый старт</li>
                        <li class="services__item"><span class="icon--plus"></span>Регулярные выплаты</li>
                        <li class="services__item"><span class="icon--plus"></span>Лучшие креативы</li>
                    </ul>
                </div>
                <div class="col-3">
                    <ul class="services__list">
                        <li class="services__item"><span class="icon--plus"></span>Простые оферы</li>
                        <li class="services__item"><span class="icon--plus"></span>Качественный трафик</li>
                        <li class="services__item"><span class="icon--plus"></span>Отзывчивый саппорт</li>
                    </ul>
                </div>
                <div class="col-6">
                    <div class="services__btns">
                        <div class="services__title">Готовы начать?</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- @@close-->