<!-- @@master  = partials/_master.html-->
 
<!-- @@block  =  content-->
<section class="page__section main">
    <div class="page__content-inner">
        <div class="row">
            <div class="col-xl-5 col-md-6">
                <div class="main__logo"></div>
                <div class="main__header">简单的交易策略，跟随趋势而获利&收益</div>
                <div class="main__book col-sm-visiable">
                    <img src="img/book-desktop@2x.jpg" alt="" />
                </div>
                <div class="main__title">看完这本书你会学会</div>
                <ul class="main__list">
                    <li><span>—</span>如何通过交易积累财富?</li>
                    <li><span>—</span>跟随趋势的优势是什么？</li>
                    <li><span>—</span>如何发现并识别趋势？</li>
                    <li><span>—</span>如何专业地开始和结束交易?</li>
                    <li><span>—</span>什么是风险管理和资金管理？</li>
                </ul>
                <div class="main__btn"><a href="" class="btn col-sm-full js-expand-btn">现在就下载</a></div>
            </div>
            <div class="col-xl-7 col-md-6 col-sm-hidden">
                <div class="main__book">
                    <img src="img/book-desktop@2x.jpg" alt="" class="col-md-hidden" />
                    <img src="img/book-tablet-ver@2x.jpg" alt="" class="col-md-visiable" />
                </div>
            </div>
        </div>
        <div class="main__why">
            <div class="main__why-header">为什么一定要读这本书？</div>
            <div class="row">
                <div class="col-md-4">
                    <div class="main__why-title">菜鸟</div>
                    <div class="main__why-text">简单可靠的办法，开始外汇交易</div>
                </div>
                <div class="col-md-4 col-sm-top">
                    <div class="main__why-title">股票投资者/交易者</div>
                    <div class="main__why-text">省时省钱进行外汇交易</div>
                </div>
                <div class="col-md-4 col-sm-top">
                    <div class="main__why-title">外汇交易人士</div>
                    <div class="main__why-text">收益不理想，希望增加外汇收益。</div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="steps__wrap">
    <section class="page__section page--dark">
        <div class="page__content-inner">
            <div class="row">
                <div class="col-md-4">
                    <div class="review">
                        <div class="review__text">我一定要有这本书。至少我在计划交易的那段日子里，每天都要读这本书。</div>
                        <div class="review__name">Michael K.</div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-top">
                    <div class="review">
                        <div class="review__text">我喜欢这本书，超简单又超实用。解释得很清楚！这是一本易读的好书，我很喜欢。大部分的指导书都会言过其实，有误导性的内容，但这本书就很直截了当。</div>
                        <div class="review__name">Dave B.</div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-top">
                    <div class="review">
                        <div class="review__text">我一定要有这本书。至少我在计划交易的那段日子里，每天都要读这本书。</div>
                        <div class="review__name">Adam L.</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="page__section page--dark steps">
        <div class="page__content-inner">
            <div class="steps__header">现在就让你的梦想成为现实!</div>
        </div>
        <div class="steps__graf">
            <div class="steps__graf-bg"></div>
            <div class="page__content-inner">
                <div class="steps__els">
                    <div class="steps__el steps--el-1">
                        <div class="steps__circle"><div class="steps__circle-inner"></div></div>
                        <div class="steps__label">立刻下载<br />免费版的<br />指南</div>
                    </div>
                    <div class="steps__el steps--el-2">
                        <div class="steps__circle"><div class="steps__circle-inner"></div></div>
                        <div class="steps__label">学习培<br />训课程</div>
                    </div>
                    <div class="steps__el steps--el-3 steps--el-r">
                        <div class="steps__circle"><div class="steps__circle-inner"></div></div>
                        <div class="steps__label">将知识运<br />用到实践<br />中去，从<br />而收益</div>
                    </div>
                    <div class="steps__el steps--el-4 steps--el-r">
                        <div class="steps__circle"><div class="steps__circle-inner"></div></div>
                        <div class="steps__label">为你的梦<br />想挣钱</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="page__section page--light author">
    <div class="page__content-inner">
        <div class="row row--padd-min">
            <div class="col-md-4">
                <div class="author__photo">
                    <img src="img/portrait.jpg" alt="" />
                </div>
            </div>
            <div class="col-lg-5 col-md-8 col-sm-top">
                <div class="author__info">
                    <div class="author__title">关于作者：</div>
                    <div class="author__name">TIM MARTYNOV</div>
                    <ul class="author__list">
                        <li><span>—</span>具有15年以上经验的成功交易者</li>
                        <li><span>—</span>曾是RBC电视台的主播（俄罗斯财经台）</li>
                        <li><span>—</span>俄罗斯最大财经网站Smart-Lab.ru的首席执行官和创始人</li>
                        <li><span>—</span>最大型的交易者和投资者会议的创始人和组织人</li>
                        <li><span>—</span>最佳畅销书《交易的原理》作者</li>
                    </ul>
                </div>
            </div>
            <div class="col-4 col-md-visiable">&nbsp;</div>
            <div class="col-lg-3 col-md-8">
                <div class="author__soon">
                    <div class="author__soon-img"><img src="img/book-mechanisms@3x.png" alt="" /></div>
                    <div class="author__soon-info">
                        <div class="author__soon-book">《交易的原理》中文版</div>
                        <div class="author__soon-lable"><span>即将出版</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="gallery">
    <div class="js-gal">
        <div class="gallery__img">
            <img src="img/files/gal_1.jpg" alt="" />
        </div>
        <div class="gallery__img">
            <img src="img/files/gal_2.jpg" alt="" />
        </div>
        <div class="gallery__img">
            <img src="img/files/gal_1.jpg" alt="" />
        </div>
        <div class="gallery__img">
            <img src="img/files/gal_2.jpg" alt="" />
        </div>
        <div class="gallery__img">
            <img src="img/files/gal_1.jpg" alt="" />
        </div>
        <div class="gallery__img">
            <img src="img/files/gal_2.jpg" alt="" />
        </div>
    </div>
</section>

<section class="page__section page--dark js-expand-body none">
    <div class="page__content-inner">
        <form action="" method="post" class="form" enctype="multipart/form-data">
            <div class="pos-center col-bottom">
                <div class="form__h1">Get a free consultation and start earning today!</div>
                <div class="form__h2">We will help you to setup, choose and connect to the best signal providers which allow you to get instant profit.</div>
            </div>
            <div class="form__wrap">
                <div class="row row--padd-min">
                    <div class="col-md-6 col-sm-12">
                        <div class="form__field">
                            <div class="form__title">First name</div>
                            <input placeholder="First name" name="" value="" type="text" class="form__input" />
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form__field">
                            <div class="form__title">Last name</div>
                            <input placeholder="Last name" name="" value="" type="text" class="form__input" />
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form__field">
                            <div class="form__title">E-mail Address</div>
                            <input placeholder="E-mail Address" name="" value="" type="email" class="form__input" />
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form__field">
                            <div class="form__title">Phone</div>
                            <input placeholder="Phone" name="" value="" type="tel" class="form__input err" />
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form__field">
                            <div class="form__title">Password</div>
                            <input placeholder="Password" name="" value="" type="password" class="form__input" />
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="form__field">
                            <div class="form__title">Confirm password</div>
                            <input placeholder="Confirm password" name="" value="" type="password" class="form__input" />
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-12 col-top-min">
                        <label for="check1" class="pseudo-check">
                            <div class="pseudo-check__check"><span class="pseudo-check__check-icon icon--check"></span></div>
                            <div class="pseudo-check__text">I have read and agreed to <a href="">Terms and Conditions</a></div>
                            <input id="check1" name="" value="yes" type="checkbox" class="pseudo-check__real">
                        </label>
                    </div>
                    <div class="col-md-6 col-sm-12 col-top-min">
                        <button class="btn col-sm-full btn--fill btn--form" type="submit" name="">CONTINUE</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<section class="page__section partner">
    <div class="page__content-inner">
        <div class="partner__header">信息伙伴</div>
        <div class="partner__wrap">
            <div class="partner__item partner--item-1"><img src="img/svg/logo-rbc.svg" alt="" /></div>
            <div class="partner__item partner--item-2"><img src="img/logo-amazon@3x.png" alt="" /></div>
            <div class="partner__item partner--item-3"><img src="img/svg/logo-litres.svg" alt="" /></div>
            <div class="partner__item partner--item-4"><img src="img/svg/logo-mscw.svg" alt="" /></div>
            <div class="partner__item partner--item-5"><img src="img/logo-ozon@3x.png" alt="" /></div>
        </div>
    </div>
</section>

<!-- @@close-->