<!-- @@master  = partials/_master.html-->
 
<!-- @@block  =  content-->
<section>
	<div class="page__content-inner">
    	<div class="heading">Events</div>

		<div class="row">
			<div class="col-4">
				<nav class="menu-filter">
					<ul class="menu-filter__wrap">
						<li class="menu-filter__item menu-filter--current"><a href="">Today</a></li>
						<li class="menu-filter__item"><a href="">Yesterday</a></li>
						<li class="menu-filter__item"><a href="">Custom</a></li>
					</ul>
				</nav>
			</div>
		</div>

		<div class="table col-top-min">
			<div class="table__line table--header">
				<a href="" class="table__cell table--cell-ev1 table--sort">Time<span class="table__cell-icon icon--sort-down"></span></a>
				<a href="" class="table__cell table--cell-ev2 table--sort table--sort-up">Event<span class="table__cell-icon icon--sort-up"></span></a>
				<a href="" class="table__cell table--cell-ev3 table--sort">Client<span class="table__cell-icon icon--sort-down"></span></a>
			</div>
			<div class="table__body">
				<div class="table__line">
					<div class="table__cell table--cell-ev1">14:00 today</div>
					<div class="table__cell table--cell-ev2">Deposit $400</div>
					<div class="table__cell table--cell-ev3"><a href="#">John Wu</a></div>
				</div>
				<div class="table__line">
					<div class="table__cell table--cell-ev1">22:40 yesterday</div>
					<div class="table__cell table--cell-ev2">Withdrawal $200</div>
					<div class="table__cell table--cell-ev3"><a href="#">Fedor Dostoevsky</a></div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- @@close-->