</main>

<div class="page__bottom">
    <footer class="page-footer">
        <div class="page__content-inner">
            <div class="socials">
                <a href="" target="_blank" class="socials__item socials--in"></a>
                <a href="" target="_blank" class="socials__item socials--tw"></a>
                <a href="" target="_blank" class="socials__item socials--fb"></a>
            </div>
            <div class="page-footer__text">Copyright © 2018 TutorFX Ltd. All rights reserved.<br/>Privacy Policy</div>
        </div>
    </footer>
</div>