<header class="page-header">
    <div class="page__content-inner">
        <div class="page-header__inner">
            <div class="page-header__logo">
                <img src="img/svg/logo.svg" alt="Platform Logo" />
            </div>
            <ul class="page-header__menu">
                <li class="page-header__menu-item"><a href="">Топ офферов</a></li>
                <li class="page-header__menu-item"><a href="">О нас</a></li>
                <li class="page-header__menu-item"><a href="">Контакты</a></li>
            </ul>
            <a href="" class="btn btn--min page-header__btn">Вход</a>
        </div>
    </div>
</header>
<main class="page__content">