.socials {
  	text-align: center;

  	&__item {
	  	display: inline-block;
	  	vertical-align: top;
		@include rem(height, 36px);
		@include rem(width, 36px);
		@include rem(margin, 0px 4px);
		background-repeat: no-repeat;
	  	background-position: 0 0;
		background-size: 100%;
	}

	&--in {
	  	background-image: url("#{$img-path}svg/linkedin.svg");
	}

  	&--tw {
	  	background-image: url("#{$img-path}svg/twitter.svg");
	}

  	&--fb {
	  	background-image: url("#{$img-path}svg/facebook.svg");
	}
}


//------------------- < 1200 ------------------//
@media only screen and (max-width: ($width-content-xl - 1px)) {
	.socials {

	}
}

//------------------- < 1024 ------------------//
@media only screen and (max-width: ($width-content-lg - 1px)) {
	.socials {

	}
}

//------------------- < 768 ------------------//
@media only screen and (max-width: ($width-content-md - 1px)) {
	.socials {

	}
}

//------------------- < 576 ------------------//
@media only screen and (max-width: ($width-content-sm - 1px)) {
	.socials {

	}
}