.traders-table {
  	border: solid 1px $color-border;

  	&__block {
	  	display: flex;
	  	flex-wrap: wrap;
	}

	&--header {
		background: $color-grey-light;
	  	border-bottom: solid 2px $color-red;
	  	@include rem(font-size, 12px);
	  	@include rem(line-height, 26px);
	  	font-family: $font-ping-reg;
	}

  	&--item {
	  	border-bottom: solid 1px $color-border;
	  	font-family: $font-reg;
	  	font-weight: bold;
	  	@include rem(font-size, 15px);

	  	&:last-child {
		  	border-bottom: none;
		}
	}

  	&__col {
		min-width: 18%;
		width: 18%;
	  	border-right: solid 1px $color-border;
	  	@include rem(padding, 7px 20px);
		display: flex;
		align-items: center;
	  	min-height: 100%;

	  	&:last-child {
		  	width: 28%;
		  	border-right: none;
		}
	}

  	&--col-name {
	  	font-family: $font-ping-reg;
	  	font-weight: normal;
	}
}

//------------------- < 1200 ------------------//
@media only screen and (max-width: ($width-content-xl - 1px)) {
	.traders-table {

	}
}

//------------------- < 1024 ------------------//
@media only screen and (max-width: ($width-content-lg - 1px)) {
	.traders-table {

	}
}

//------------------- < 768 ------------------//
@media only screen and (max-width: ($width-content-md - 1px)) {
	.traders-table {
		&__col {
			border-right: none;
		  	@include rem(padding, 5px 15px);
		}

	  	&__count {
			text-align: right;
		  	width: 100%;
		}

	  	&--item {
		  	@include rem(font-size, 14px);
		  	@include rem(padding, 10px 0px);
		}

	  	&__title {
		  	white-space: nowrap;
		  	opacity: 0.5;
		  	font-family: $font-ping-reg;
		  	font-weight: normal;
		 	@include rem(font-size, 14px);
		}

	  	&--col-name {
		  	width: 70%;
		  	@include rem(font-size, 15px);
		}

	  	&--col-btn {
		  	width: 30%;
		}
	}
}

//------------------- < 576 ------------------//
@media only screen and (max-width: ($width-content-sm - 1px)) {
	.traders-table {
		&--col-name {
			width: 45%;
		}

		&--col-btn {
		  	width: 55%;
		}
	}
}